* { 
    padding:0;
    margin:0;
    border:0;
}

article{
    border: 1px solid black;
    margin: 5px;
    text-align: justify;
    color: beige;
    background: #9c9c9c;
    flex: 1 1 200px;
    flex-wrap: wrap;
}

article header {
    background-color: red;

}

section{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto;
}

article:nth-of-type(4)  {
    flex-grow: 10; 
  }
